@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");

* {
  font-family: "Lato", sans-serif !important;
}
.overall__layout-styles {
  background: url("../main-bg-version-rect1.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 75px);
  margin-top: 75px;
  z-index: -100;
}

.customNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100vw !important;
  height: 105px;
  left: 0px;
  top: 0px;
  border-bottom: 14px solid lightyellow !important;

  background:
  /* conic-gradient(
      from 166.92deg at 21.42% 120.89%,
      #ffffff 0deg,
      rgba(255, 255, 255, 0) 360deg
    ),
    conic-gradient(
      from 189.59deg at 55.94% -51.27%,
      rgba(255, 255, 255, 0) 0deg,
      #ffffff 117.65deg,
      rgba(255, 255, 255, 0) 360deg
    ), */ url("../header-bg.jpg");
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-menu {
  display: flex;
  flex-direction: row;
  min-width: 360px;
  justify-content: space-around;
}

.left-menu li {
  text-decoration: none;
  color: lightyellow;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 4px 10px;
  transition: all 0.3s linear;
}

.left-menu li:hover {
  background-color: transparent;
}

.left-menu li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
}

.left-menu li a:hover {
  color: yellow;
  font-weight: bolder;
}
.homeLink {
  position: absolute;
  background-color: transparent !important;
  width: 131px;
  list-style-type: none;
  height: 66px;
  margin-top: 2px;
  left: 0;
  top: 0;
}

.login__menu {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 30px;
}

.logout_menu {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
  margin-right: 30px;
}

/* container */
.customContainer {
  margin-top: 40px;
}

.form-group {
  margin-top: 30px;
}

.login__menu--user-info {
  margin-right: 45px;
}
