@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");

* {
  font-family: "Lato", sans-serif !important;
}
.overall__layout-styles {
  background: url("../Landscape05.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 92px);
  margin-top: 75px;
  z-index: -100;
}

.customNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100vw !important;
  height: 75px;
  left: 0px;
  top: 0px;

  background: conic-gradient(
      from 166.92deg at 21.42% 120.89%,
      #ffffff 0deg,
      rgba(255, 255, 255, 0) 360deg
    ),
    conic-gradient(
      from 185.59deg at 55.94% -51.27%,
      rgba(255, 255, 255, 0) 0deg,
      #ffffff 117.65deg,
      rgba(255, 255, 255, 0) 360deg
    ),
    url("../header-bg.jpg");
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
}

.homeLink {
  position: absolute;
  width: 131px;
  height: 66px;
  margin-left: 10px;
  left: 0;
  top: 0;
}

.login__menu {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 30px;
}

.logout_menu {
  display: flex;
  max-width: 100px;
  justify-content: space-between;
  margin-right: 30px;
}

/* container */
.customContainer {
  margin-top: 40px;
}

.register-overlay {
  background: url("../forms-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 12px rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  z-index: 20;
}

.register-overlay h2 {
  color: rgb(61, 230, 61);
  text-align: center;
}

.cloud__register {
  background: url("../blue_folders.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  right: -500px;
  top: -100px;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 4;
}

.register-overlay label {
  color: rgb(186, 240, 161);
}

.form-group {
  margin-top: 30px;
}

.register-overlay button {
  padding: 10px 20px;
  text-align: center;
  background: rgb(41, 21, 133) !important;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  color: #20e49f;
  font-size: 1.2rem;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  border: none;
  border-radius: 30px;
}

.register-overlay button:hover {
  background: #1719aa !important;
  color: #60ee73;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}

.register-overlay input {
  background: #1a2151;
  color: whitesmoke;
}

.register-overlay input:hover,
.register-overlay input:active {
  color: whitesmoke;
  background: #1a2151;
}

.register-overlay:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
}

.login__menu--user-info {
  margin-right: 45px;
}
